@use '@tylertech/forge/sass/core/styles/typography' as forge-typography;
@use '@tylertech/forge/sass/core/styles/spacing' as forge-spacing;
@use '@tylertech/forge/sass/core/styles/scrollbar' as forge-scrollbar;
@use '@tylertech/forge/sass/core/styles/theme' as forge-theme;

:host {
  display: contents;
}

* {
  box-sizing: border-box;
}

.initializing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: #{forge-spacing.variable(medium)};
  justify-content: center;
  height: 100%;
  padding: #{forge-spacing.variable(xlarge)};

  .initializing-message {
    @include forge-typography.style(body2);
    color: #{forge-theme.variable(text-medium)};
  }
}

.error-state {
  @include forge-scrollbar.base;

  padding: #{forge-spacing.variable(large)};
  text-align: center;
  overflow-y: auto;
  height: 100%;

  .error-graphic {
    width: 150px;
    height: auto;
    margin-block-start: #{forge-spacing.variable(medium)};
  }

  .error-title {
    @include forge-typography.style(heading4);
  }

  .error-message {
    @include forge-typography.style(body1);

    text-align: start;
    margin: #{forge-spacing.variable(medium)} auto;
  }
}
