@use '@tylertech/forge/dist/forge-core';
@use '@tylertech/forge/dist/forge';

:not(:defined) {
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

main {
  padding: var(--forge-spacing-medium);
  max-width: 960px;
}

.tab-panel {
  padding: var(--forge-spacing-medium);

  h2 {
    margin-block-start: 0;
    margin-block-end: var(--forge-spacing-small);
  }

  .description {
    margin-block-end: var(--forge-spacing-large);
    color: var(--forge-theme-text-medium);
  }
}

.actions {
  grid-column: 2 / 4;
}

.form-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--forge-spacing-medium);
  align-items: end;
}

forge-tab-bar {
  --forge-tab-bar-divider-thickness: 0;
}

forge-circular-progress {
  --forge-circular-progress-size: 24px;
}
