/* CSS Reset with box-sizing */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  padding: 0;
  margin: 0;
  height: 100dvh;
}

.card-demo {
  display: grid;
  place-content: center;
  padding: 64px;
}

.card {
  width: 500px;
  height: 700px;
  --forge-card-padding: 0;
}
